{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
Pass Part A exam
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">[Limitation]</span>
      <h1 class="govuk-heading-l">
      Pass Part A exam
      </h1>

          <p class="govuk" >
You must pass the Part A online computer-based exam before you can take the Part B oral exam.      </p>

                <p class="govuk" >
You can take the exam at any time while your NOE is still valid.</p> 

                <p>After you pass Part A, you have 12 months to take your Part B oral exam. We'll send you information about booking Part B when you pass Part A.</p>

      <h2 class="govuk-heading-m">
Before you take the exam</h2>

<p>You will need a username and password to access the exam. Check your email for this information.</p>

<p>Read the <a href="https://www.gov.uk/government/publications/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes/min-690-guidance-on-the-mca-oral-examination-booking-the-issue-of-notices-of-eligibility-noes-and-the-online-oral-examination-processes#codeofconduct" target="_blank">Candidate's code of conduct</a> (opens in a new window). It tells you:</p>
<ul class="govuk-list govuk-list--bullet">
<li>stationary required</li>  
<li>what computer equipment you need</li>
<li>exam rules you must follow</li>
</ul>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You may fail the exam if you do not follow the rules.",
  iconFallbackText: "Warning"
}) }}


      <form class="form" action="https://oral-parta.mcga.gov.uk/Run/Assessment/ModuleWidgetWithSignIn/25a127b1-c65e-4eff-810e-77b10565ca39" method="post" novalidate>

{% from "govuk/components/button/macro.njk" import govukButton %}

<div class="govuk-button-group">
  {{ govukButton({
    text: "Take Part A exam now"
  }) }}

  {{ govukButton({
    text: "Do exam later",
    classes: "govuk-button--secondary"
  }) }}
</div>
<p><a href="">Already taken exam</a></p>
        </form>
    </div>
  </div>

{% endblock %}