{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Applications – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Applications
      </h1>
   

      {{ govukTaskList({
        idPrefix: "applications",
        items: [
          {
            title: {
              text: "OOW unlimited II/1"
            },
            href: "application-overview-1",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

<form action="/application-selection/capacity" method="" novalidate>

        {{ govukButton({
          text: "Start an application"
        }) }}

      </form>


    </div>
  </div>

{% endblock %}
