{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Payment confirmation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/UR-E2E-v1/start",
  signOutHref : "/UR-E2E-v1/start",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "#",
      text: "Dashboard"
    },
    {
      href: "/UR-E2E-v1/applications/applications-in-progress",
      text: "Applications",
      active: true
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype of a new service. No data is collected or saved.'
}) }}
  

{% endblock %}
 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request submitted",
        html: "Your reference number<br><strong>APP12345678</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
We have sent your request for Certificate of Competency (CoC) to the Maritime and Coastguard Agency (MCA).</p>
      <p>
        The MCA may contact you for more information.
      </p>
                  <p>Refer to your <a href="application-overview-3">application overview</a> for what you need to do next.</p>




    </div>
  </div>

{% endblock %}
