{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Apply for Notice of Eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/UR-E2E-v1/start",
  signOutHref : "/UR-E2E-v1/start",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "#",
      text: "Dashboard"
    },
    {
      href: "/UR-E2E-v1/applications/applications",
      text: "Applications",
      active: true
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'No data is collected or saved.'
}) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">OOW Unlimited II/1</span>
      <h1 class="govuk-heading-xl">
        Supporting evidence
      </h1>

<p class="govuk-body govuk-!-margin-bottom-7">You have completed all sections.</p>


{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "Supporting evidence must be valid at the time of requesting your certificate of competency"
}) }}

<h2 class="govuk-heading-m">Training and education</h2>

      {{ govukTaskList({
        idPrefix: "id-medical",
        items: [
        {
            title: {
              text: "College education and training completion letter"
            },
            href: "#",
            status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Medical First Aid"
            },
                                    hint: {
        text: "STCW A-VI/4-1"
      },
            href: "#",
                        status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Advanced Fire Fighting"
            },
                                    hint: {
        text: "STCW A-V1/3"
      },
            href: "#",
                        status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Proficiency in Survival Craft and Rescue Boats"
            },
                                    hint: {
        text: "STCW A-VI/2-1"
      },
            href: "#",
                        status: {
                text: "Complete"
            }
          }

        ]
      }) }}


<h2 class="govuk-heading-m">Ancillary certificates</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "Signals"
            },
            href: "#",
                        status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "NARAS/ NAEST Operational"
            },
            href: "#",
                        status: {
                text: "Complete"
            }
          },
          {
            title: {
              text: "Efficient Deck Hand"
            },
            href: "#",
                        status: {
                text: "Complete"
            }
          }
        ]
      }) }}


      <h2 class="govuk-heading-m">Additional requirements</h2>
      
{{ govukTaskList({
        idPrefix: "id-medical",
        items: [
                 {
            title: {
              text: "UK GMDSS"
            },
            href: "#",
                        status: {
                text: "Complete"
            }
          },
        {
            title: {
              text: "Signature"
            },
            href: "#",
                        status: {
                text: "Complete"
            }
          }
        ]
      }) }}


<p class="govuk-body"><a href="application-overview-2.html">Back to application overview</a></p>


    </div>
  </div>

{% endblock %}
