{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
          Contact
 – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v2/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications"
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
      Contact information 
      </h1>

      <p>


Office access and opening times 

Contact details and opening times for the Maritime and Coastguard Agency headquarters and our marine offices. 

Maritime & Coastguard Agency  

Contents 

 
Maritime and Coastguard Agency headquarters 
Press office 
Marine office contact details 
Seafarer Operations – formerly seafarer training and certification 
HM Coastguard 
 

You can contact the Maritime and Coastguard Agency (MCA) if you need information about the: 

Maritime and Coastguard Agency headquarters 
Press office 
Marine office contact details 
Seafarer Operations – formerly seafarer training and certification 
HM Coastguard 
 

This guide is also available in Welsh (Cymraeg). 

 

Coastal emergencies 

If you have a coastal emergency, call 999 and ask for the Coastguard.  
 
In an emergency at sea, send a Mayday distress alert on Channel 16, or call 999 and ask for the Coastguard. 

 

Maritime and Coastguard Agency headquarters 

Maritime and Coastguard Agency 
Spring Place 
105 Commercial Road 
Southampton 
SO15 1EG 

Email:  infoline@mcga.gov.uk 

Phone: 0203 817 2000 

 

Press office 

Press office 

Email: public.relations@mcga.gov.uk 

Press enquiries: (Monday to Friday, 9am to 5pm) 0203 817 2222 

Outside of these hours or on bank holidays and weekends, and for media enquiries only, email   your query, ‘Urgent’ in the subject field  

 

Marine office contact details 

Contact your local a marine office to make an appointment for urgent Discharge and Seaman’s Book applications. If you email us, we may arrange to speak to you over the phone or in person.  

Counter services are available by appointment only. Contact your local marine office to make an appointment.  

 

Scotland 

Aberdeen Marine Office 

Marine House 
Blaikies Quay 
Aberdeen 
AB11 5EZ 

Email:  Aberdeenmo@mcga.gov.uk 

Phone: 01224 369 000 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Glasgow Marine Office 

Albex House 
Marchfield Drive 
Paisley 
PA3 2RB 

Email:  glasgowmo@mcga.gov.uk 

Phone: 01413 970 002 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Wales 

Cardiff Marine Office 

Anchor Court 
Keen Road 
Cardiff 
CF24 5JW 

Email : cardiffmo@mcga.gov.uk 

Phone: 02920 448 848 

Counter services are available Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Northern Ireland 

Belfast Marine Office 

Bregenz House 
Quay Street 
Bangor 
BT20 5ED 

Email:  belfastmo@mcga.gov.uk 

Phone: 02895 990 000 

Counter services are available Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Northwest England 

Liverpool Marine Office 

Hall Road West 
Crosby 
Liverpool 
Merseyside 
L23 8SY 

Email:  liverpoolmo@mcga.gov.uk 

Phone: 01512 480 045 

Counter services are available Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Northeast England 

Hull Marine Office 

Crosskill House 
Mill Lane 
Beverley 
East Yorkshire 
HU17 9JB 

Email:  hullmo@mcga.gov.uk 

Phone: 01482 759 000 

Counter services are available, Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Southwest England 

Plymouth Marine Office 
 

Suite 5 
Endeavour House 
Oceansgate 
Vivid Approach 
Plymouth 
PL1 4RW 

Email: plymouthmo@mcga.gov.uk 

Phone: 01752 419 000 

Counter services are available, Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Southeast England 

Colchester Marine Office 
 

Iceni Way 
Colchester 
Essex 
CO2 9BY 

Email: colchestermo@mcga.gov.uk 

Phone: 01206 379 000 

Counter services are available, Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Southampton Marine Office 
 

Spring Place 
105 Commercial Road 
Southampton 
Hampshire 
SO15 1EG 

Email: southamptonmo@mcga.gov.uk 

Phone: 02380 329 160 

Counter services are available, Monday to Thursday, 9am to 4pm, and Friday, 9am to 3:30pm 

Telephone lines are open Monday to Thursday, 9am to 5pm, and Friday, 9am to 4:30pm 

 

Seafarer Operations – formerly seafarer training and certification 

Address 

Spring Place 
105 Commercial Road 
Southampton 
SO15 1EG 

Visit the Seafarer Operations contact details page to find contact information for the teams who manage: 

training and certification 
boatmaster enquiries 
Safe Manning certifications and exemptions 
Registry of Shipping and Seamen (RSS) enquiries 
 
HM Coastguard 

For information on the location and phone numbers of our rescue coordination centres see our HM Coastguard contact details page - GOV.UK. 

Contents       </p>


    </div>
  </div>

{% endblock %}
