{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Apply for Notice of Eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v1/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "#",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">[Limitation]</span>
      <h1 class="govuk-heading-l">
Apply for a Notification of Eligibility (NoE)
      </h1>

<p class="govuk-body govuk-!-margin-bottom-7">You have completed 2 of 16 sections.</p>


<h2 class="govuk-heading-m">Identity and medical</h2>

      {{ govukTaskList({
        idPrefix: "id-medical",
        items: [
        {
            title: {
              text: "Passport-style photo"
            },
            href: "noe/provide-passport-style-photo",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Signature"
            },
            href: "noe/provide-signature",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Medical certificate"
            },
            href: "noe/provide-medical-certificate",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

<h2 class="govuk-heading-m">Training and education</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "College education and training enrolment letter"
            },
            href: "noe/provide-your-college-education-and-training-enrolment-letter",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
                    {
            title: {
              text: "Training course letter"
            },
            href: "noe/provide-your-training-course-letter",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Personal Survival Techniques (STCW A-VI/1-1)"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Fire Prevention & Fire Fighting (STCW A-VI/1-2)"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Elementary First Aid (STCW A-VI/1-3)"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Personal Safety & Social Responsibility (STCW A-VI/1-4)"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

<h2 class="govuk-heading-m">Seagoing service</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "Information-gathering table"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Core evidence"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Training Record Book"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Task-detail workbook"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Confirmation of defined Specified Area"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">Additional information</h2>

      {{ govukTaskList({
        idPrefix: "submission",
        items: [
          {
            title: {
              text: "SMarT funded status"
            },
            href: "noe/is-your-training-smart-funded",
            status: {
              tag: {
                text: "Complete",
                classes: "govuk-tag--green"
              }
            }
          },
          {
            title: {
              text: "Return-delivery address"
            },
            href: "noe/provide-your-return-delivery-address",
            status: {
              tag: {
                text: "Complete",
                classes: "govuk-tag--green"
              }
            }
          }
        ]
      }) }}

<h2 class="govuk-heading-m">Submission</h2>

      {{ govukTaskList({
        idPrefix: "submission",
        items: [
          {
            title: {
              text: "Declaration"
            }
          },
          {
            title: {
              text: "Make a payment"
            }
          }
        ]
      }) }}

<p class="govuk-body"><a href="application-overview.html">Back to application overview</a></p>

    </div>
  </div>

  <script>
    import { MultiFileUpload } from '@ministryofjustice/frontend'

const $multiFileUpload = document.querySelector(
  '[data-module="moj-multi-file-upload"]'
)

new MultiFileUpload($multiFileUpload, {
  uploadUrl: '/ajax-upload-url',
  deleteUrl: '/ajax-delete-url'
})
  </script>

{% endblock %}
