{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Applications – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v1/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Applications
      </h1>
   

      {{ govukTaskList({
        idPrefix: "applications",
        items: [
          {
            title: {
              text: "Officer of the Watch"
            },
                  hint: {
        text: "Unlimited II/1"
      },
            href: "application-overview",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Second Engineer"
            },
                  hint: {
        text: "Less than 3000 - Near Coastal - III/3"
      },
            href: "application-overview",
            status: {
              tag: {
                text: "Complete",
                classes: "govuk-tag--green"
              }
            }
          },
          {
            title: {
              text: "[Capacity]"
            },
                  hint: {
        text: "[Limitation]"
      },
            href: "application-overview",
            status: {
              tag: {
                text: "In progress",
                classes: "govuk-tag--yellow"
              }
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
