{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Apply for Notice of Eligibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: serviceName,
      navigation: [   
      {
      href: "/dashboard/v1/dashboard.html",
      text: "Dashboard"
    },
    {
      href: "/applications/applications",
      text: "Applications",
      active: true
    },
    {
      href: "#",
      text: "Oral exams"
    }
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">[Limitation]</span>
      <h1 class="govuk-heading-l">
        Supporting evidence
      </h1>

<p class="govuk-body govuk-!-margin-bottom-7">You have completed X of XX sections.</p>


      

<h2 class="govuk-heading-m">Training and education</h2>

      {{ govukTaskList({
        idPrefix: "id-medical",
        items: [
        {
            title: {
              text: "Signature"
            },
            href: "coc/provide-signature",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
        {
            title: {
              text: "College education and training completion letter - MCA Approved OOW Unlimited II/1 FD/SPD/Hons Route"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved OOW Unlimited II/1 HND/HNC/AD Route"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved OOW Unlimited II/1 Overseas Collaborative (1+1) Route"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved OOW Unlimited II/1 Overseas Experienced Seafarer Route"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved OOW < 500GT  II/3 Programme"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved Chief Mate Unlimited II/2 Programme."
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College education and training completion letter - MCA Approved Chief Mate Unlimited Area, Near-Coastal II/2 Programme."
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "MCA Written Examinations - OOW Unlimited - Navigation, Stability & Operations."
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "MCA Written Examinations - OOW < 500GT - General Ship Knoweledge, Chart-work and Coastal Navigation, Meteorology."
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "MCA Written Examinations - Chief Mate Unlimited - Navigation, Stability & Structure"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "MCA Written Examination - Chief Mate Unlimited Tonnage, Near-Coastal - Magnetic Compass and navigational aids, Ship construction and stability, Shipboard operations"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Holders of a Master less than 500 GT, near-coastal trading area, II/3 CoC must first complete additional academic units required to meet the standard for an OOW unlimited, regulation II/1 standard. You will require a letter from the college confirming you have met the OOW academic standard."
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

<h2 class="govuk-heading-m">Advanced STCW safety training</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "STCW Code A-VI/4-1 Medical First Aid"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "STCW A-V1/3 Advanced Fire Fighting"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "STCW Code A-VI/2-1  Proficiency in Survival Craft and Rescue Boats"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">Updated safety training required if original course is over 5 years old.</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "Updated Training in FPFF"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Updated Training in PST"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Updated Training in AFF"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Updated Training in PSCRB"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Updated Training in Medical Care"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}

<h2 class="govuk-heading-m">Ancillary certificates</h2>

      {{ govukTaskList({
        idPrefix: "training",
        items: [
          {
            title: {
              text: "GMDSS"
            },
            href: "coc/gmdss/tell-us-about-your-gmdss-certificate",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Signals"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "NARAS/ NAEST Operational"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Efficient Deck Hand"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "HELM Operational"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "In Date Medical Fitness Certificate"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "NARAS/ NAEST Management"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "HELM Management"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "ECDIS if NAEST completed before June 2005"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Magnetic compass and navigational aids"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Ship construction and stability"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "Shipboard operations"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "College letter confirming Education and Training programme C+D or Chief Mate/Master II/2 standard met"
            },
            href: "#",
            status: {
              tag: {
                text: "Action required",
                classes: "govuk-tag--blue"
              }
            }
          }

        ]
      }) }}


<p class="govuk-body"><a href="application-overview.html">Back to application overview</a></p>


    </div>
  </div>

{% endblock %}
