{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Online payment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Pay online</h1>
      
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
       {% from "govuk/components/radios/macro.njk" import govukRadios %}
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Application"
            },
            value: {
              text: "OOW Unlimited II/1"
            }
          },
          {
            key: {
              text: "Amount to pay"
            },
            value: {
              text: "£220.00"
            }
          }
        ]
      }) }}

      <!--p class="govuk">You can use the following credit or debit cards to make a online payment:</p>
      
<ul class="govuk-list govuk-list--bullet">
  <li>Visa</li>
  <li>Mastercard</li>
  <li>American Express</li>
<li>Diners Club</li>
</ul>

      <p class="govuk">You can also make an online payment using:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>Apply Pay</li>
  <li>Google Pay</li>
</ul-->

      <form action="govpay-holding">

        {{ govukButton({
          text: "Make payment and submit application",
          classes: "govuk-button"
        }) }}
      </form>
      
      
    </div>
  </div>
{% endblock %}