{% extends "layouts/main.njk" %}
{% set pageName = "Your application" %}
{% block pageTitle %}{{ pageName }} – GOV.UK Prototype{% endblock %}

{% block content %}



{# --- Main headings with comfortable spacing --- #}
<h1 class="govuk-heading-xl govuk-!-margin-bottom-3 govuk-!-margin-top-3">
  Your application
</h1>

<h2 class="govuk-heading-l govuk-!-margin-bottom-4 govuk-!-margin-top-2">
  Apply for an Officer of the Watch (OOW) Certificate of Competency (CoC)
  <span class="govuk-!-display-block govuk-!-font-size-27 govuk-!-font-weight-regular govuk-!-margin-top-1">
    Unlimited Tonnage, Unlimited Area
  </span>
</h2>

<p class="govuk-body govuk-!-margin-bottom-2">
  Complete each section to apply for your Certificate of Competency.
</p>

<div class="govuk-inset-text govuk-!-margin-bottom-7 govuk-!-margin-top-2">
  You can save and return later to finish your application.
</div>

{# =================== Provide application information =================== #}
<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3">Provide application information</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/coc-details">CoC details (if available)</a>
    </div>
    <div class="govuk-task-list__status">Not started</div>
  </li>
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/goc-details">GMDSS GOC details (if available)</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/training-route">Select your approval training route</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/funding-details">UK SMaRT Funding details (if applicable)</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
</ul>

{# =================== Upload documents =================== #}
<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3">Upload documents</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/sea-service">Sea service experience evidence</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/uploads">Other supporting documents</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
</ul>

{# =================== Declaration =================== #}
<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3">Declaration</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/declaration">Your declaration</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/reference-details">Reference details</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
</ul>

{# =================== Pay =================== #}
<h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-3">Pay</h2>
<ul class="govuk-task-list">
  <li class="govuk-task-list__item">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link" href="/application-oow/payment">Make payment</a>
    </div>
    <div class="govuk-task-list__status">Cannot start yet</div>
  </li>
</ul>

<p class="govuk-!-margin-top-7">
  <a class="govuk-button" data-module="govuk-button" href="/application-oow/check-answers">Continue</a>
</p>

{% endblock %}
