{% extends "layouts/main.html" %}

{% set pageName = "Application for certificate of competency" %}

{% block pageTitle %}{{ pageName }} – GOV.UK Prototype{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/application-oow/sea-service"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Upload supporting documents</h1>
      
      {{ govukInsetText({
        text: "You must obtain a UK GMDSS General Operator's Certificate before booking your oral examination. You do not need to upload this certificate now.",
        classes: "govuk-!-margin-bottom-7"
      }) }}

      <form method="post" enctype="multipart/form-data" novalidate>
        
        <h2 class="govuk-heading-m">Identity and Medical</h2>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="passport-photo-page">
            Passport (photo page)
          </label>
          <input id="passport-photo-page" name="passportPhotoPage" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="passport-photograph">
            Passport-style photograph
          </label>
          <input id="passport-photograph" name="passportPhotograph" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="medical-certificate">
            ENG 1 or equivalent medical certificate
          </label>
          <input id="medical-certificate" name="medicalCertificate" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Sea Service Evidence</h2>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="discharge-book">
            Discharge book or certificates of discharge
          </label>
          <input id="discharge-book" name="dischargeBook" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="sea-service-record">
            Sea-service record (showing at least 36 months' sea service, including at least 6 months bridge watchkeeping)
          </label>
          <input id="sea-service-record" name="seaServiceRecord" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="company-service-letter">
            Company service letter confirming rank, dates and nature of duties
          </label>
          <input id="company-service-letter" name="companyServiceLetter" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">STCW Basic Safety Training (A-VI/1)</h2>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="personal-survival-techniques">
            Personal Survival Techniques
          </label>
          <input id="personal-survival-techniques" name="personalSurvivalTechniques" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="fire-prevention-fire-fighting">
            Fire Prevention and Fire Fighting
          </label>
          <input id="fire-prevention-fire-fighting" name="firePreventionFireFighting" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="elementary-first-aid">
            Elementary First Aid
          </label>
          <input id="elementary-first-aid" name="elementaryFirstAid" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="personal-safety-social-responsibilities">
            Personal Safety and Social Responsibilities
          </label>
          <input id="personal-safety-social-responsibilities" name="personalSafetySocialResponsibilities" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <h2 class="govuk-heading-m govuk-!-margin-top-7">Operational-level and survival certificates</h2>
        
        <div class="govuk-form-group">
          <label class="govuk-label" for="proficiency-survival-craft">
            Proficiency in Survival Craft and Rescue Boats
          </label>
          <input id="proficiency-survival-craft" name="proficiencySurvivalCraft" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="advanced-fire-fighting">
            Advanced Fire Fighting
          </label>
          <input id="advanced-fire-fighting" name="advancedFireFighting" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="medical-first-aid">
            Medical First Aid
          </label>
          <input id="medical-first-aid" name="medicalFirstAid" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="efficient-deck-hand">
            Efficient Deck Hand (EDH)
          </label>
          <input id="efficient-deck-hand" name="efficientDeckHand" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="naest-operational">
            Navigation Aids and Equipment Simulator / NAEST (Operational)
          </label>
          <input id="naest-operational" name="naestOperational" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="helm-operational">
            Human Element Leadership and Management / HELM (Operational)
          </label>
          <input id="helm-operational" name="helmOperational" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="uk-signals-certificate">
            United Kingdom Signals Certificate (valid within the last 3 years)
          </label>
          <input id="uk-signals-certificate" name="ukSignalsCertificate" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="gmdss-goc">
            GMDSS General Operator's Certificate (GOC)
          </label>
          <input id="gmdss-goc" name="gmdssGoc" type="file" accept=".pdf,.jpg,.jpeg,.png">
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

