{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  User testing prototype– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/UR-E2E-v1/start",
  useTudorCrown: "true"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'No data is collected or saved.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "The following is a mock-up of the live service, often referred to as a Prototype.  
While using the prototype, no data will be stored, saved, or collected. ",
  iconFallbackText: "Warning"
}) }}

<h2 class="govuk govuk-heading-m">Before you start</h2>
<p>This prototype will show you one specific journey. Not all links or options within the prototype will work.</p>
<p>We will not ask you to complete everything that you would need to in a real-world application. </p>
<p>
  You will view a journey: </p>
  
<ul class="govuk-list govuk-list--bullet">
    <li>for a Deck Officer of the Watch (OOW) – Unlimited certificate,</li> 
    <li>for a foundation degree training route </li> 
    <li>using the online payment method </li>
    <li>for someone that holds a UK Global Maritime Distress and Safety System (GMDSS) 
 </li>
  
</ul>  

<h2 class="govuk govuk-heading-m">Entering information</h2>
<p>You can:</p>
<ul class="govuk-list govuk-list--bullet">
<li>
enter anything you choose into the fields that you see   </li>  
  <li>feel reassured that you will not be blocked based on what you enter</li>
  <li>feel reassured that nothing you enter will be saved </li>
</ul>

<h2 class="govuk govuk-heading-m">Payments</h2>
<p>When entering payments:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the payment related screens are for testing purposes only</li>
  <li>no payment will be taken </li>
</ul>

<h2 class="govuk govuk-heading-m">Knowing when you have finished </h2>
<p>You will know you have finished when you reach the overview page that shows ‘In progress’ next to your CoC application. </p>


<h2 class="govuk govuk-heading-m">After you finish</h2>
<p>Answering questions about your experience will help us to improve the service.</p>
<p>Answer the questions to tell us what you found clear, confusing, easy, or frustrating. </p>


      {{ govukButton({
        text: "Start now",
        href: "/UR-E2E-v1/access-service/do-you-have-a-seafarer-reference-number",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
