{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  User testing prototype– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p><strong>The following is a PROTOTYPE and not a live service</strong></p>
      <p>
No data is stored, saved or collected during the use of this prototype service
</p>

      <p>Use this prototype service to test:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Applying for a Officer of the Watch, Unlimited capacity, following a Degree based training route. </li>
      </ul>


      {{ govukButton({
        text: "Start now",
        href: "/UR-E2E-v1/access-service/do-you-have-a-seafarer-reference-number",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
