{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  User testing prototype– {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/UR-E2E-v1/start",
  useTudorCrown: "true"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'No data is collected or saved.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "The following is a PROTOTYPE and not a live service. No data is stored, saved or collected during the use of this prototype service.",
  iconFallbackText: "Warning"
}) }}

<h2 class="govuk govuk-heading-m">Before you start</h2>
<p>This prototype has been set up to show one specific journey only. Not all links or options will work.</p>
<p>You do not need to complete everything you would in a real-world application.</p>
<p>
  You are viewing a journey for:</p>
  
<ul class="govuk-list govuk-list--bullet">
    <li>a Deck Officer of the Watch (OOW) – Unlimited certificate,</li> <li>following a foundation degree training route</li> <li>which will be paid for using the online payment method.</li>
  
</ul>  

<h2 class="govuk govuk-heading-m">Entering information</h2>
<ul class="govuk-list govuk-list--bullet">
<li>
    You can enter anything you like into fields.
  
</li>  
  <li>You won’t be blocked from moving forward based on what you enter.</li>
  <li>Nothing will be saved.</li>
</ul>

<h2 class="govuk govuk-heading-m">Payments</h2>
<ul class="govuk-list govuk-list--bullet">
  <li>No payment will be taken.</li>
  <li>This is not a real application.</li>
  <li>Any payment-related screens are for testing purposes only.</li>
  <li>No money will be taken at any point.</li>
</ul>

<h2 class="govuk govuk-heading-m">When is the task complete?</h2>

<ul class="govuk-list govuk-list--bullet">
  <li>You reach the overview page that shows “In progress” next to the CoC application</lie>
</ul>

<h2 class="govuk govuk-heading-m">After you finish</h2>
<p>Please answer the questions about your experience.</p>
<p>
  Be honest — we’re interested in what felt clear, confusing, easy, or frustrating.
  
</p><p>Your feedback helps us improve the service.</p>


      {{ govukButton({
        text: "Start now",
        href: "/UR-E2E-v1/access-service/do-you-have-a-seafarer-reference-number",
        isStartButton: true
      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
