{% extends "layouts/main.html" %}

{% set pageName = "Application for certificate of competency" %}

{% block pageTitle %}{{ pageName }} – GOV.UK Prototype{% endblock %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/application-oow/task-list"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-margin-bottom-4 govuk-!-font-size-16" style="color: #6b7280;">
        Question 5 of 5
      </p>

      <form method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">Do you have at least 36 months qualifying sea service with company letters?</h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="sea-service-yes"
                  name="seaService36Months"
                  type="radio"
                  value="Yes"
                  {% if not data.seaService36Months or data.seaService36Months == 'Yes' %}checked{% endif %}
                />
                <label class="govuk-label govuk-radios__label" for="sea-service-yes">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input
                  class="govuk-radios__input"
                  id="sea-service-no"
                  name="seaService36Months"
                  type="radio"
                  value="No"
                  {% if data.seaService36Months == 'No' %}checked{% endif %}
                />
                <label class="govuk-label govuk-radios__label" for="sea-service-no">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

