{% extends "layouts/main.html" %}

{% block pageTitle %}
{{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Section",
        href: "#"
      },
      {
        text: "Apply for and manage seafarer certificates"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to apply for the following deck Certificate of Competency's:</p>

      <p class="govuk-heading-s">Officer of the Watch (OOW)</p>
      <ul class="govuk-list govuk-list--bullet">
<li>Unlimited II/1</li>
<li>Less than 500gt Near Coastal II/3</li>
<li>Less than 500gt limited to Category D waters II/3</li>
</ul>
      <p class="govuk-heading-s">Chief Mate</p>
            <ul class="govuk-list govuk-list--bullet">

<li>Unlimited All Routes</li>
<li>Less than 3,000 GT, unlimited area</li>
<li>Less than 3,000 GT, near-coastal</li>
<li>Unlimited tonnage, near coastal</li>
</ul>
      <p class="govuk-heading-s">Master</p>
      <ul class="govuk-list govuk-list--bullet">
<li>Unlimited</li>
<li>Less than 3,000 GT, unlimited area</li>
<li>Unlimited Tonnage, near-coastal</li>
<li>Less than 500 GT, near coastal including German waters</li>
<li>Less than 500gt, limited to Category D waters</li>
<li>Less than 3,000 GT, Near Coastal, specified trading areas</li>
      </ul>

<p>For other Certificate of Competency applications, follow the existing processes outlined here.</p>

      <h2 class="govuk-heading-m">
        What you will need
      </h2>

<ul class="govuk-list govuk-list--bullet">
<li>Seafarer Reference Number (SRN) to access the service</li>
<li>Correct amount of qualifying seagoing evidence</li>
<li>Evidence to support your application</li>
</ul>

      <h2 class="govuk-heading-m">
        Application costs
      </h2>

<p>
  Application costs vary, depending on what you are applying for.
</p>
<p>
  A new application costs £220. Applications for reapplying or upgrading, cost less, and the exact amount will be presented to you as you move through the pages within this service. 
</p>
      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

<h2 class="govuk-heading-s">
Get help with your SRN number 
</h2>
<p>If you do not have a SRN, you will need to request one. You will need your passport when requesting an SRN.</p>
<p>Registering for a SRN takes around 5 minutes.</p>
<p>Your SRN may also be known to you as a Seafarer Documentation System (SDS) number.</p>
<p>If you cannot find your SRN number, email:</p> 

 <ul class="govuk-list govuk-list--bullet">
<li>deck@mcga.gov.uk</li>
</ul>



      <p>
        You can also <a href="#">apply by post</a>.
      </p>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Guidance
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
                        <li>
              <a href="what-you-need-for-a-coc-application">
               Evidence you may need for your application
              </a>
            </li>
            <li>
              <a href="templates-for-a-coc-application">
                Templates to help with your application
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
