{% extends "layouts/pattern.html" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% endblock %}



{% block content %}

  <div class="govuk-grid-row" style="margin-bottom: 50px">
        <h1 class="govuk-heading-xl" style="margin-top: 30px;">
        Applications screen
      </h1>
      </div>
        <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
<p><a href="status" class="govuk-back-link">Back to status navigation</a></p>

<!--<ul class="govuk-list govuk-list--bullet">
  <li><a href="#1">1. New or reappyly (upto 2nd attempt)</a></li>
  <li><a href="#2">2. Reapply (3+ attempts)</a></li>
  <li><a href="#3">3. Non NOE</a></li>

</ul>-->

     <p><strong>1</strong> Single application - active</p>
     <div class="govuk-hint">No status, just a linked item</div>

 {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "OOW Unlimited II/1"
            },
            href: "#"
          }
        ]
      }) }}
<br><br><br>
           <p><strong>2</strong> Single application - completed</p>
     <div class="govuk-hint">Nothing left to do, application process completed</div>

 {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "OOW Unlimited II/1"
            },
            status: {
                text: "Complete"
            }
          }
        ]
      }) }}
<br><br><br>
                 <p><strong>3</strong> Single application - cancelled</p>
     <div class="govuk-hint">Nothing left to do, application cancelled</div>

 {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "OOW Unlimited II/1"
            },
                    status: {
              tag: {
                text: "Cancelled",
                classes: "govuk-tag--grey"
              }
            }
          }
        ]
      }) }}
<br><br><br>

<p><strong>4</strong> Reapply state - requires applicant input</p>
     <div class="govuk-hint">Application is available for the user to reapply</div>

 {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "OOW Unlimited II/1"
            },
            hint: {
              text: "Reapply to resit your oral exam"
            },
            href: "#",
            status: {
              tag: {
                text: "Reapply",
                classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}
<br><br><br>
           <p><strong>5</strong> Multiple applications in different states</p>
     <div class="govuk-hint">
     </div>
 
           {{ govukTaskList({
        idPrefix: "NOE-parts",
        items: [
          {
            title: {
              text: "[limitation]"
            },
            hint: {
              text: "Reapply to resit your oral exam"
            },
            href: "reapply",
            status: {
              tag: {
                text: "Reapply",
                classes: "govuk-tag--blue"
              }
            }
          },
          {
            title: {
              text: "OOW Unlimited II/1"
            },
          status: {
                text: "Complete"
            }
            
          },
          {
            title: {
              text: "OOW Less than 500gt Near Coastal II/3"
            },
          status: {
              tag: {
                text: "Cancelled",
                classes: "govuk-tag--grey"
              }
            }
          }
        ]
      }) }}
      

      </div>
      </div>



{% endblock %}
