{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
Check evidence of your STCW A-VI/1-4 Personal Safety and Social Responsibility – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Training and education</span>
      <h1 class="govuk-heading-l">
Check evidence of your STCW A-VI/1-4 Personal Safety and Social Responsibility</h1>

{{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "STCW A-VI/1-4 Personal Safety and Social Responsibility uploads"
            },
            value: {
              html: "Filename1.ext<br>
                      Filename2.ext<br>
                      Filename3.ext"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      <form action="/applications/apply-for-notice-of-eligibility" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
        
    </div>
  </div>


{% endblock %}
