{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Notice of Eligibility application declaration – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

            <span class="govuk-caption-l">Apply for Notice of Eligibility</span>
      <h1 class="govuk-heading-l">
        Declaration
      </h1>

      <form class="form" action="/UR-E2E-v1/payments/make-a-payment" method="post">

<p class="govuk-body">
I declare that the data contained in this application is, to the best of my knowledge and belief, true and complete.  
</p>

<p class="govuk-body">
I also declare that the documents are: 
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>genuine</li>
  <li>given and signed by the persons whose names appear on them</li>
</ul>

<p class="govuk-body">
I consent to any processing of the data contained in this application by the MCA (including any processing necessary to establish the authenticity and validity of the issued certificate). 
</p>

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "You can be fined up to £5000 for a false declaration ",
  iconFallbackText: "Warning"
}) }}

        {{ govukButton({
          text: "Agree and continue to payment"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
