{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
 Tell us about your Global Maritime Distress and Safety System (GMDSS) certificate  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

 

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">Ancillary certificates</span>
      <h1 class="govuk-heading-l">Tell us about your Global Maritime Distress and Safety System (GMDSS) certificate</h1>

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/button/macro.njk" import govukButton %}


<form>
  {{ govukRadios({
  idPrefix: "SmarT",
  name: "redirect",
  
  items: [
    {
      value: "~provide-evidence-of-your-uk-gmdss-training.html",
      text: "I have a UK GMDSS certificate"
    },
        {
      value: "",
      text: "I have a non-UK GMDSS certificate"
    },
    {
      value: "",
      text: "I need a GMDSS certificate"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
</form>


{% endblock %}

