{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
  Make a payment – {{ serviceName2 }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Hello",
  navigation: [   
],
    slots: {
      navigationEnd: '<div class="service-menu-signout-wrapper"><a class="govuk-link govuk-link--no-visited-state service-menu-signout" href="signed-out?sign-out">Sign out</a></div>'
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service. Help us improve it and <a class="govuk-link" target="_blank" href="#">give your feedback (opens in new tab)</a>.'
  }) }}
  
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Make a payment</h1>

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}
      {% from "govuk/components/input/macro.njk" import govukInput %}
      {% from "govuk/components/button/macro.njk" import govukButton %}

      {# Error Summary #}
      {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}
        {% set errorList = [] %}
        
        {% if data['confirm-error'] == 'true' %}
          {% set errorList = (errorList.push({
            text: "Select an option",
            href: "#confirm-record"
          }), errorList) %}
        {% endif %}
        
        {% if data['other-reason-error'] == 'true' %}
          {% set errorList = (errorList.push({
            text: "Enter the reason you need to cancel",
            href: "#other-reason"
          }), errorList) %}
        {% endif %}

        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Application"
            },
            value: {
              text: "Officer of the Watch (unlimited tonnage, unlimited area)"
            }
          },
          {
            key: {
              text: "Reference"
            },
            value: {
              text: "12568912XXX2203r3"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              text: "£220.00"
            }
          }
        ]
      }) }}

<form>
  {{ govukRadios({
  idPrefix: "Pay online",
  name: "redirect",
  fieldset: {
    legend: {
      text: "Select a payment method",
      isPageHeading: false,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "~pay-online.html",
      text: "Pay online"
    },
    {
      value: "~bank-transfer.html",
      text: "Bank transfer"
    },
    {
      value: "~pay-by-invoice.html",
      text: "Request an invoice"
    },
        {
      value: "~pre-payment.html",
      text: "Corporate payment"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}
</form>


{% endblock %}

