{% extends "layouts/main.html" %}

{% block pageTitle %}
Pay online – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  serviceUrl : "/",
  signOutHref : "?sign-out",
  useTudorCrown: "true"
}) }}
{{ govukServiceNavigation({
    serviceName: "Application for certificate of competency",
  navigation: [   
],
    slots: {
    },
    classes: "govuk-header--full-width-border"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Pay online</h1>
      
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
       {% from "govuk/components/radios/macro.njk" import govukRadios %}
      
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Application"
            },
            value: {
              text: "Officer of the Watch (unlimited tonnage, unlimited area)"
            }
          },
          {
            key: {
              text: "Reference"
            },
            value: {
              text: "12568912XXX220"
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              text: "£220.00"
            }
          }
        ]
      }) }}
      
      <form action="payment-confirmation-online.html" method="post">
{% call govukFieldset({
  legend: {
    text: "Enter card details",
    classes: "govuk-fieldset__legend--m",
    isPageHeading: true
  }
}) %}

  {{ govukInput({
    label: {
      text: "Card number"
    },
    classes: "govuk-input--width-20",
    id: "cardnumber",
    name: "cardnumber",
    autocomplete: "cardnumber"
  }) }}

  <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
    <div id="passport-issued-hint" class="govuk-hint">
      For example, 27/24
    </div>
    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>

  {{ govukInput({
    label: {
      text: "Name on card"
    },
    classes: "govuk-input--width-20",
    id: "nameonecard",
    name: "nameonecard",
    autocomplete: "nameonecard"
  }) }}

  {{ govukInput({
    label: {
      text: "Card security code"
    },
      hint: {
    text: "The last 3 digits on the back of the card"
  },
    classes: "govuk-input--width-5",
    id: "address-town",
    name: "addressTown",
    autocomplete: "address-level2"
  }) }}

  {{ govukRadios({
  name: "3rd party",
  fieldset: {
    legend: {
      text: "Are you making the payment?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "Yes",
      text: "Yes"
    },
        {
              value: "No",
              text: "No",
              checked: data['confirmRecord'] == 'other',
              conditional: {
                html: govukCharacterCount({
                    name: "otherReason",
  id: "other-reason",
  maxlength: 90,
  label: {
    text: "Who is making this payment? For example, your partner, employer, a friend",
    classes: "govuk-label--s"
  }
                })
              }
            }
  ]
}) }}


{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}


{% set billingaddressnoHtml %}
{% call govukFieldset({
  legend: {
    text: "What is the billing address?",
    classes: "govuk-fieldset__legend--s"
  }
}) %}

  {{ govukInput({
    label: {
      text: "Address line 1"
    },
    id: "address-line-1",
    name: "addressLine1",
    autocomplete: "address-line1"
  }) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "address-line-2",
    name: "addressLine2",
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "addressTown",
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "County (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    name: "addressCounty"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    name: "addressPostcode",
    autocomplete: "postal-code"
  }) }}

{% endcall %}
{% endset -%}

{{ govukRadios({
  name: "contact",
  fieldset: {
    legend: {
      text: "Is your billing address the same as your home address?",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "billingaddress-yes",
      text: "Yes"
    },
    {
      value: "billingaddress-no",
      text: "No",
      conditional: {
        html: billingaddressnoHtml
      }
    
    }
  ]
}) }}

          
{% endcall %}

        {{ govukButton({
          text: "Make payment",
          classes: "govuk-button"
        }) }}
      </form>
      
      
    </div>
  </div>
{% endblock %}