{% extends "layouts/proto-main.html" %}

{% block pageTitle %}
  {% if data['confirm-error'] == 'true' or data['other-reason-error'] == 'true' %}Error: {% endif %}
 Success – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{{ hmrcHeader({
  homepageUrl : "/UR-E2E-v1/start",
  useTudorCrown: "true"
}) }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'No data is collected or saved.'
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Submitted",
        html: "You have submitted your personal details"
      }) }}

      <p>
        We have sent you a confirmation email. If you do not receive your confirmation email by [insert timeframe], contact the Maritime and Coastguard Agency (MCA) by emailing <a href="">seafareroperations@mcga.gov.uk</a>.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>Use your credentials we sent you in your confirmation email to <a href="provide-your-seafarer-reference-number">access the service</a></p>




    </div>
  </div>

{% endblock %}
